<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VRTM_Simulator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VRTM_Simulator.My.MySettings>
            <setting name="FoodProductCSVPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayParameter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Display_boolHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_boolConditionalFormatting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_HighlightColor" serializeAs="String">
                <value>OliveDrab</value>
            </setting>
            <setting name="Display_MinColor_ForeColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Display_MaxColor_ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Display_MinColor_BackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Display_MaxColor_BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Main_PlaybackSpeed" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DisplayParameterForeColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayParameterBackColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Display_ElevatorWellColor" serializeAs="String">
                <value>255, 200, 200</value>
            </setting>
            <setting name="Display_TableBackColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="Display_TableHeaderBColor" serializeAs="String">
                <value>255, 255, 150</value>
            </setting>
        </VRTM_Simulator.My.MySettings>
    </userSettings>
</configuration>