<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VRTM_Simulator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VRTM_Simulator.My.MySettings>
            <setting name="FoodProductCSVPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayParameter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Display_boolHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_boolConditionalFormatting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_HighlightColor" serializeAs="String">
                <value>OliveDrab</value>
            </setting>
            <setting name="Display_MinColor_Tray" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Display_MaxColor_Tray" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Display_MinColor_Conveyor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Display_MaxColor_Conveyor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Display_MinColor_Ret" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Display_MaxColor_Ret" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="Display_MinColor_Center" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="Display_MaxColor_Center" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Display_MinColor_Surf" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="Display_MaxColor_Surf" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Display_MinColor_Pow" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="Display_MaxColor_Pow" serializeAs="String">
                <value>Red</value>
            </setting>
        </VRTM_Simulator.My.MySettings>
    </userSettings>
</configuration>